<!DOCTYPE html>
<html>
	<head>
		<title>Kotrana !highstocky</title>
</head>
<body>


<div id="conteneurStock" style="width:90%;height:250px;margin:auto"></div>
<script src="js/jquery.js"></script>
<script src="js/highstock.js"></script>
<script src="js/dark-unica.js"></script>
<script src="js/maheryScript.js"></script>
<script src="js/dependencies/sails.io.js"></script>

<script>

HighCharts.setOptions({
global:{useUTC:true,timezoneOffset:3*60},
lang:{weekdays:["laad","latsnain","talata","larbi","lakamis","zoma","sabots"]}
});



</script>

</body>
</html>
